CURRENT_PATH=$PWD
command_exists () {
  type "$1" &> /dev/null ;
}

# Define theme
OH_MY_ZSH_THEME_PATH="$HOME/.oh-my-zsh/custom/themes"
THEME_PATH="$OH_MY_ZSH_THEME_PATH/spaceship.zsh-theme"
if ! [[ -L "$THEME_PATH" ]]
then
  git clone --verbose https://github.com/lucasteles22/spaceship-prompt.git "$OH_MY_ZSH_THEME_PATH/spaceship-prompt"
  ln -s "$OH_MY_ZSH_THEME_PATH/spaceship-prompt/spaceship.zsh-theme" $THEME_PATH
fi
ZSH_THEME="spaceship"

# Define auto suggestion plugin
AUTO_SUGGESTIONS_PATH=~/.config/local/zsh/plugins/zsh-autosuggestions
if [ ! \( -e "${AUTO_SUGGESTIONS_PATH}" \) ]
then
  git clone --verbose https://github.com/lucasteles22/zsh-autosuggestions.git $AUTO_SUGGESTIONS_PATH
fi
source ~/.config/local/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh

#Install pip
if ! command_exists pip
then
  pacaur -S python-pip --noconfirm --needed --noedit
fi

#Install powerline-status & fonts
if ! pip show powerline-status &> /dev/null
then
  pip install --user powerline-status
  git clone https://github.com/powerline/fonts.git --depth=1 ~/fonts
  cd ~/fonts
  ./install.sh
  cd ..
  rm -rf ~/fonts
fi

#Install wget
if ! command_exists wget
then
  pacaur -S wget --noconfirm --needed --noedit
fi

#Install tmux
if ! command_exists tmux
then
  pacaur -S tmux --noconfirm --needed --noedit
fi

#Install rbenv
RBENV_PATH="$HOME/.rbenv/"
if ! [[ -d "$RBENV_PATH" ]]
then
  git clone https://github.com/rbenv/rbenv.git ~/.rbenv
  cd ~/.rbenv && src/configure && make -C src
  export PATH="$HOME/.rbenv/bin:$PATH"
  eval "$(rbenv init -)"
fi

if ! command_exists ruby-build
then
  pacaur -S ruby-build --noconfirm --needed --noedit
fi

#Install fzf
if ! command_exists fzf
then
  sudo pacman -S fzf --noconfirm --needed --noedit
fi

#Install docker
if ! command_exists docker
then
  sudo pacman -S docker --noconfirm --needed --noedit
fi

#Install tpm - Plugin manager for tmux
TPM_PATH=~/.tmux/plugins/tpm
if [ ! -d "${TPM_PATH}" ]
then
  git clone --verbose https://github.com/tmux-plugins/tpm $TPM_PATH
fi

# Create vimrc file
VIMRC_PATH="$HOME/.vimrc"
if ! [ -f "$VIMRC_PATH" ]
then
  cd ~/.config/local
  cp .vimrc.sample "$HOME/.vimrc"
fi

# Create tmux conf file
TMUX_CONF_PATH="$HOME/.tmux.conf"
if ! [ -f "$TMUX_CONF_PATH" ]
then
  cd ~/.config/local
  cp .tmux.sample "$HOME/.tmux.conf"
fi

# Create global gitconfig file
GITCONFIG_PATH="$HOME/.gitconfig"
if ! [ -f "$GITCONFIG_PATH" ]
then
  cd ~/.config/local
  cp .gitconfig.sample "$HOME/.gitconfig"
fi

# Create global gitignore file
GITIGNORE_PATH="$HOME/.gitignore"
if ! [ -f "$GITIGNORE_PATH" ]
then
  cd ~/.config/local
  cp .gitignore.sample "$HOME/.gitignore"
fi

cd $CURRENT_PATH
