CURRENT_PATH=$PWD
command_exists () {
  type "$1" &> /dev/null ;
}

# Define theme
OH_MY_ZSH_THEME_PATH="$HOME/.oh-my-zsh/custom/themes"
THEME_PATH="$OH_MY_ZSH_THEME_PATH/spaceship.zsh-theme"
if ! [[ -L "$THEME_PATH" ]]
then
  git clone --verbose https://github.com/lucasteles22/spaceship-prompt.git "$OH_MY_ZSH_THEME_PATH/spaceship-prompt"
  ln -s "$OH_MY_ZSH_THEME_PATH/spaceship-prompt/spaceship.zsh-theme" $THEME_PATH
fi

# Define zsh syntax plugin
ZSH_SYNTAX_HIGHLIGHTIN_PATH=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
if [ ! \( -e "${ZSH_SYNTAX_HIGHLIGHTIN_PATH}" \) ]
then
  git clone https://github.com/zsh-users/zsh-syntax-highlighting.git $ZSH_SYNTAX_HIGHLIGHTIN_PATH
fi

# Define auto suggestion plugin
AUTO_SUGGESTIONS_PATH=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
if [ ! \( -e "${AUTO_SUGGESTIONS_PATH}" \) ]
then
  git clone --verbose https://github.com/zsh-users/zsh-autosuggestions.git $AUTO_SUGGESTIONS_PATH
fi

# Updates i3 config
I3_CONFIG_PATH="$HOME/.config/i3"
sudo cp -u ~/.config/local/i3/config "$I3_CONFIG_PATH/config"

# Install nvm
if ! command_exists nvm
then
  yay -S nvm --noconfirm --needed
fi

# Install nitrogen
if ! command_exists nitrogen
then
  yay -S nitrogen --noconfirm --needed
  cp -R ~/.config/local/nitrogen/* "$HOME/.config"
fi

WALLPAPER_PATH="$HOME/Pictures/wallpaper"
FILE_WALLPAPER_PATH="$WALLPAPER_PATH/img.png"
if ! [ -f "$FILE_WALLPAPER_PATH" ]
then
  mkdir -p $WALLPAPER_PATH
  sudo cp ~/.config/local/share/pictures/wallpaper/img.png "$FILE_WALLPAPER_PATH"
fi

# Install compton - composition manager
COMPTON_PATH="$HOME/.config/compton"
if ! command_exists compton
then
  yay -S compton --noconfirm --needed
  mkdir -p $COMPTON_PATH
  sudo cp -u ~/.config/local/compton/compton.conf "$COMPTON_PATH/compton.conf"
fi

# Install termite
TERMITE_PATH="$HOME/.config/termite"
if ! command_exists termite
then
  yay -S termite --noconfirm --needed
fi
mkdir -p $TERMITE_PATH
sudo cp ~/.config/local/termite/config "$TERMITE_PATH/config"

#Install gnome-terminal
if ! command_exists gnome-terminal
then
  yay -S gnome-terminal --noconfirm --needed
fi

#Install curl
if ! command_exists curl
then
  yay -S curl --noconfirm --needed
fi

#Install xclip
if ! command_exists xclip
then
  yay -S xclip --noconfirm --needed
fi

#Install zsh
if ! command_exists zsh
then
  yay -S zsh --noconfirm --needed
fi

#Install pip
if ! command_exists pip
then
  yay -S python-pip --noconfirm --needed
fi

#Install powerline-status & fonts
if ! pip show powerline-status &> /dev/null
then
  pip install --user powerline-status
  git clone https://github.com/powerline/fonts.git --depth=1 ~/fonts
  cd ~/fonts
  ./install.sh
  cd ..
  rm -rf ~/fonts
fi

#Install wget
if ! command_exists wget
then
  yay -S wget --noconfirm --needed
fi

#Install tmux
if ! command_exists tmux
then
  yay -S tmux --noconfirm --needed
fi

#Install rbenv
RBENV_PATH="$HOME/.rbenv/"
if ! [[ -d "$RBENV_PATH" ]]
then
  git clone https://github.com/rbenv/rbenv.git ~/.rbenv
  cd ~/.rbenv && src/configure && make -C src
  export PATH="$HOME/.rbenv/bin:$PATH"
  eval "$(rbenv init -)"
fi

if ! command_exists ruby-build
then
  yay -S ruby-build --noconfirm --needed
fi

#Install fzf
if ! command_exists fzf
then
  yay -S fzf --noconfirm --needed
fi

#Install docker
if ! command_exists docker
then
  yay -S docker --noconfirm --needed
fi

#Install nodejs
if ! command_exists node
then
  yay -S nodejs --noconfirm --needed
fi

#Install npm
if ! command_exists npm
then
  yay -S npm --noconfirm --needed
fi

#Install AG
if ! command_exists ag
then
  yay -S the_silver_searcher --noconfirm --needed
fi

#Install feh
if ! command_exists feh
then
  yay -S feh --noconfirm --needed
fi

#Install w3m
if ! command_exists w3m
then
  yay -S w3m --noconfirm --needed
fi

#Install less
if ! command_exists less
then
  yay -S less --noconfirm --needed
fi

#Install highlight
if ! command_exists highlight
then
  yay -S highlight --noconfirm --needed
fi

#Install atool
if ! command_exists atool
then
  yay -S atool --noconfirm --needed
fi

#Install unrar
if ! command_exists unrar
then
  yay -S unrar --noconfirm --needed
fi

#Install ranger - file manager
RANGER_PATH="$HOME/.config/ranger"
if ! command_exists ranger
then
  yay -S ranger-git --noconfirm --needed
  sudo cp ~/.config/local/.rc.conf.sample "$RANGER_PATH/rc.conf"
  sudo cp -R ~/.config/local/ranger/colorschemes "$RANGER_PATH/colorschemes"
fi

#Install thunar - graphic file manager
if ! command_exists thunar
then
  yay -S thunar --noconfirm --needed
fi

#Install neofetch
if ! command_exists neofetch
then
  yay -S neofetch --noconfirm --needed
fi

#Install maim - screenshot
if ! command_exists maim
then
  yay -S maim cwm --noconfirm --needed
fi

# Selection necessary to maim
if ! command_exists slop
then
  yay -S slop --noconfirm --needed
fi

# Get current active window - necessary to maim
if ! command_exists xdotool
then
  yay -S xdotool --noconfirm --needed
fi

#Install polybar-git
if ! command_exists polybar
then
  yay -S polybar-git jsoncpp siji-git --noconfirm --needed
  mkdir -p ~/.config/polybar
  install -Dm644 /usr/share/doc/polybar/config $HOME/.config/polybar/config
  cp -R ~/.config/local/polybar/* $HOME/.config/polybar
fi

#Install whatsapp-nativifier
if ! command_exists whatsapp
then
  yay -S whatsapp-nativifier --noconfirm --needed
fi

#Install spotify
if ! command_exists spotify
then
  yay -S spotify --noconfirm --needed
fi

#Install firefox
if ! command_exists firefox-developer-edition
then
  yay -S firefox-developer-edition --noconfirm --needed
fi

#Install insomnia
if ! command_exists insomnia
then
  yay -S insomnia --noconfirm --needed
fi

#Install htop - system monitor
if ! command_exists htop
then
  yay -S htop --noconfirm --needed
fi

#Install light-git
if ! command_exists light
then
  yay -S light-git --noconfirm --needed
fi

#Install xrandr
if ! command_exists xrandr
  yay -S xorg-xrandr --noconfirm --needed
then
fi

#Install clipit - Vim bffer sync
if ! command_exists clipit
  yay -S clipit --noconfirm --needed
then
fi

#Install playerctl
if ! command_exists playerctl
  yay -S playerctl --noconfirm --needed
then
fi

#Install unzip
if ! command_exists unzip
  yay -S unzip --noconfirm --needed
then
fi

#Install cargo
if ! command_exists cargo
  yay -S cargo --noconfirm --needed
then
fi

#Install xdg-settings
if ! command_exists xdg-settings
  yay -S xdg-utils --noconfirm --needed
then
fi

#Install nvim
if ! command_exists nvim
  yay -S neovim --noconfirm --needed
then
fi

#Install docker-compose
if ! command_exists docker-compose
  yay -S docker-compose --noconfirm --needed
then
fi

#Install tpm - Plugin manager for tmux
TPM_PATH=~/.tmux/plugins/tpm
if [ ! -d "${TPM_PATH}" ]
then
  git clone --verbose https://github.com/tmux-plugins/tpm $TPM_PATH
fi

if ! systemctl is-active --quiet bluetooth.service
then
  sudo systemctl start bluetooth.service
  sudo systemctl enable bluetooth.service
fi

#Install sound packages
yay -S alsa-lib \
  alsa-utils \
  pulseaudio \
  pulseaudio-alsa --noconfirm --needed

#Install python-dbus - Spotify polybar
yay -S python-dbus --noconfirm --needed

#Support to cedilha on us keyboard
yay -S ibus --noconfirm --needed

#Network Time Protocol
yay -S ntp --noconfirm --needed

#bluetoothctl
yay -S pavucontrol \
  pulseaudio-bluetooth \
  bluez \
  bluez-utils --noconfirm --needed

#robo3t
yay -S robo3t-bin  --noconfirm --needed

#Install fonts for polybar
yay -S ttf-font-awesome-4 \
  terminus-font \
  ttf-material-design-icons \
  nerd-fonts-complete \
  --noconfirm --needed

# Create vimrc file
VIMRC_PATH="$HOME/.vimrc"
if ! [ -f "$VIMRC_PATH" ]
then
  cd ~/.config/local
  cp .vimrc.sample "$HOME/.vimrc"
fi

# Create zshrc file
ZSHRC_PATH="$HOME/.zshrc"
if ! [ -f "$ZSHRC_PATH" ]
then
  cd ~/.config/local
  cp .zshrc.sample "$HOME/.zshrc"
fi

# Create tmux conf file
TMUX_CONF_PATH="$HOME/.tmux.conf"
if ! [ -f "$TMUX_CONF_PATH" ]
then
  cd ~/.config/local
  cp .tmux.sample "$HOME/.tmux.conf"
fi

# Create global gitconfig file
GITCONFIG_PATH="$HOME/.gitconfig"
if ! [ -f "$GITCONFIG_PATH" ]
then
  cd ~/.config/local
  cp .gitconfig.sample "$HOME/.gitconfig"
fi

# Create global gitignore file
GITIGNORE_PATH="$HOME/.gitignore"
if ! [ -f "$GITIGNORE_PATH" ]
then
  cd ~/.config/local
  cp .gitignore.sample "$HOME/.gitignore"
fi

cd $CURRENT_PATH
