CURRENT_PATH=$PWD
command_exists () {
  type "$1" &> /dev/null ;
}

# Define theme
OH_MY_ZSH_THEME_PATH="$HOME/.oh-my-zsh/custom/themes"
THEME_PATH="$OH_MY_ZSH_THEME_PATH/spaceship.zsh-theme"
if ! [[ -L "$THEME_PATH" ]]
then
  git clone --verbose https://github.com/lucasteles22/spaceship-prompt.git "$OH_MY_ZSH_THEME_PATH/spaceship-prompt"
  ln -s "$OH_MY_ZSH_THEME_PATH/spaceship-prompt/spaceship.zsh-theme" $THEME_PATH
fi
ZSH_THEME="spaceship"

# Define zsh syntax plugin
ZSH_SYNTAX_HIGHLIGHTIN_PATH=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
if [ ! \( -e "${ZSH_SYNTAX_HIGHLIGHTIN_PATH}" \) ]
then
  git clone https://github.com/zsh-users/zsh-syntax-highlighting.git $ZSH_SYNTAX_HIGHLIGHTIN_PATH
fi

# Define auto suggestion plugin
AUTO_SUGGESTIONS_PATH=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
if [ ! \( -e "${AUTO_SUGGESTIONS_PATH}" \) ]
then
  git clone --verbose https://github.com/zsh-users/zsh-autosuggestions.git $AUTO_SUGGESTIONS_PATH
fi

#Install gnome-terminal
if ! command_exists gnome-terminal
then
  yay -S gnome-terminal --noconfirm --needed
fi

#Install pip
if ! command_exists pip
then
  yay -S python-pip --noconfirm --needed
fi

#Install powerline-status & fonts
if ! pip show powerline-status &> /dev/null
then
  pip install --user powerline-status
  git clone https://github.com/powerline/fonts.git --depth=1 ~/fonts
  cd ~/fonts
  ./install.sh
  cd ..
  rm -rf ~/fonts
fi

#Install wget
if ! command_exists wget
then
  yay -S wget --noconfirm --needed
fi

#Install tmux
if ! command_exists tmux
then
  yay -S tmux --noconfirm --needed
fi

#Install rbenv
RBENV_PATH="$HOME/.rbenv/"
if ! [[ -d "$RBENV_PATH" ]]
then
  git clone https://github.com/rbenv/rbenv.git ~/.rbenv
  cd ~/.rbenv && src/configure && make -C src
  export PATH="$HOME/.rbenv/bin:$PATH"
  eval "$(rbenv init -)"
fi

if ! command_exists ruby-build
then
  yay -S ruby-build --noconfirm --needed
fi

#Install fzf
if ! command_exists fzf
then
  yay -S fzf --noconfirm --needed
fi

#Install docker
if ! command_exists docker
then
  yay -S docker --noconfirm --needed
fi

#Install nodejs
if ! command_exists node
then
  yay -S nodejs --noconfirm --needed
fi

#Install npm
if ! command_exists npm
then
  yay -S npm --noconfirm --needed
fi

#Install AG
if ! command_exists ag
then
  yay -S the_silver_searcher --noconfirm --needed
fi

#Install feh
if ! command_exists feh
then
  yay -S feh --noconfirm --needed
fi

#Install w3m
if ! command_exists w3m
then
  yay -S w3m --noconfirm --needed
fi

#Install less
if ! command_exists less
then
  yay -S less --noconfirm --needed
fi

#Install highlight
if ! command_exists highlight
then
  yay -S highlight --noconfirm --needed
fi

#Install atool
if ! command_exists atool
then
  yay -S atool --noconfirm --needed
fi

#Install unrar
if ! command_exists unrar
then
  yay -S unrar --noconfirm --needed
fi

#Install ranger - file manager
RANGER_PATH="$HOME/.config/ranger"
if ! command_exists ranger
then
  yay -S ranger-git --noconfirm --needed
  sudo cp ~/.config/local/.rc.conf.sample "$RANGER_PATH/rc.conf"
  sudo cp -R ~/.config/local/ranger/colorschemes "$RANGER_PATH/colorschemes"
fi

#Install thunar - graphic file manager
if ! command_exists thunar
then
  yay -S thunar --noconfirm --needed
fi

#Install scrot - screenshot
if ! command_exists scrot
then
  yay -S scrot --noconfirm --needed
fi

#Install polybar-git
if ! command_exists polybar
then
  yay -S polybar-git jsoncpp siji-git --noconfirm --needed
  mkdir -p ~/.config/polybar
  install -Dm644 /usr/share/doc/polybar/config $HOME/.config/polybar/config
fi

#Install tpm - Plugin manager for tmux
TPM_PATH=~/.tmux/plugins/tpm
if [ ! -d "${TPM_PATH}" ]
then
  git clone --verbose https://github.com/tmux-plugins/tpm $TPM_PATH
fi

# Create vimrc file
VIMRC_PATH="$HOME/.vimrc"
if ! [ -f "$VIMRC_PATH" ]
then
  cd ~/.config/local
  cp .vimrc.sample "$HOME/.vimrc"
fi

# Create zshrc file
ZSHRC_PATH="$HOME/.zshrc"
if ! [ -f "$ZSHRC_PATH" ]
then
  cd ~/.config/local
  cp .zshrc.sample "$HOME/.zshrc"
fi

# Create tmux conf file
TMUX_CONF_PATH="$HOME/.tmux.conf"
if ! [ -f "$TMUX_CONF_PATH" ]
then
  cd ~/.config/local
  cp .tmux.sample "$HOME/.tmux.conf"
fi

# Create global gitconfig file
GITCONFIG_PATH="$HOME/.gitconfig"
if ! [ -f "$GITCONFIG_PATH" ]
then
  cd ~/.config/local
  cp .gitconfig.sample "$HOME/.gitconfig"
fi

# Create global gitignore file
GITIGNORE_PATH="$HOME/.gitignore"
if ! [ -f "$GITIGNORE_PATH" ]
then
  cd ~/.config/local
  cp .gitignore.sample "$HOME/.gitignore"
fi

cd $CURRENT_PATH
